body{
	background-image: 
	url("file:///C:/Users/clifford.crear/Documents/WEB1/Test%20Images/texture-wallpapers-hd-21.jpg");
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
}

nav{	
	font-size: calc(12px + 1vw);	
}

#phdng{
	color: white;
	font-family: quicksand;
	font-size: calc(10px + 4vw)
}

li:hover {
	background-color: #D80;
	border-radius: 50px
}

ul{
	list-style-type: none;
	width: 100%;
	padding:0;
	margin: auto;
}

.glyphformat{
	margin: auto;
}

span{
	margin-left: 10px;
	margin-right: 10px
}

.mheading{
	font-size: calc(15px + 2vw);
	padding: .2em;
	font-weight: bold;
	color: white;
	background-color: rgb(34,34,34);
	border-radius: 10px;
	margin: calc(25px + 3em) 0 40px 0;
}

#content{
	margin-bottom: 0%;
	max-width: 70%;
	margin: auto;
	font-family: quicksand;
	padding: 0%;

}

#nc{
	display:block;
	margin: auto;
	width: 100%;
	height: 50%;
	border-radius: 50px
}

.carousel-caption{
	background-color: rgba(0,0,0,0.6);

}

.imgcaption{
	font-size: calc(8px + 1.5vw);
}

p{
	color: white;
	Text-align: center;
	margin: 0px;
	height: 100%;
	padding: 5px 0px 2px 0px;	
}

.thumbnail{
	background-color: rgb(34,34,34);
	border-color: rgb(34,34,34);
	border-radius: 10px;
	border-width: 3px;
}

form{
	max-width: 100%;
	margin: auto;
	padding: 0px;
}

#frmHeading{
	margin: 10px;
	padding: 10px;
	text-align: center;
	border-radius: 20px
}

#idcontact{
	margin-bottom: 20px;
}

#thankyou{
	font-size: calc(15px + 2vw);
	padding: 5px
}

h3{
	margin:0px;
	color: white
}

input{
	width: 100%;
}

textarea{
	width:100%
}

button{
	width:50%;
	margin: 0 25% 0 25%;
}

#mimg{
	max-width: 200px;
	display: flex;
	margin: auto;
}

h4{
	color: white;
	font-size: calc(15px + 1vw)
}

h5{
	color: white;
	font-size: 20px
}