body {
	background-color: #ff5555;
	
}

h1 {
	font-size: calc(15px + 2.5vw);
	margin-bottom: 5%
}

#quoteButton {
	font-size: calc(5px + 2vw) !important;
}

h2 {
	margin-bottom: 5%;
	font-size: calc(10px + 2vw);
}

h3{
	font-size: calc(7px + 2vw);
}

footer {
	font-size: calc(7px + 1vw) !important;
}

span {
	margin: 0px 10px 0px 10px;
}

#mainDiv{
	width: calc(10px + 60vw);
	margin: calc(10px + 5vw) auto auto auto;
}

#tweetBtn{
	display: block !important;
	text-align: center !important;
	font-size: calc(20px + 3vw) !important;
}

#tweet1{
	text-decoration: none !important;
	color: white;
}


h4 {
	font-size: calc(20px + 2vw);
}

