body {
	background-color: #ff5555;
}

h1 {
	font-size: 60px;
	margin-bottom: 5%
}

h2 {
	margin-bottom: 5%;
}

span {
	margin: 0px 10px 0px 10px;
}

#mainDiv{

	width: 50%;
	margin: 100px auto auto auto;
}

h4 {
	font-size: 60px;
}
