	nav{
		overflow:hidden;
	}
	
	ul{
		position: fixed-top;
		list-style-type: none;
		margin:0;
		padding:0;
		Font-family: 'Baloo Bhaina';
		overflow:hidden;
	}
	
	li a {
		display: block;
		text-decoration: none;
		color: #000;
	}
	
	#pagecontent{
		margin: auto;
		width: 50%;
		Position: relative;	
	}
	
	.navlink{
		text-align: center;
		font-size: 20px;
	}
		
		
	/*Temporary CSS to show element borders*/
	.tb2{
		border-style: solid;

	}
