
.bd1{
    border-style: solid;
    border-width: 1px;
}

h1 {
    margin: 0px;
    font-size: 29px
}

.divHeading {
    padding: 5px;
    background-color: #559955;
    color: white;

    /*border-style: solid;
    border-width: 2px;
    border-color: red;*/
}

