	
	ul{
		position: fixed-top;
		list-style-type: none;
		margin:0;
		padding:0;
		Font-family: 'Baloo Bhaina';
		background-color: #f1f1f1;
		
	}
	
	.navlink{
		text-align: center;
		font-size: 20px;
		border-style:solid		
	}	
		
	/*Temporary CSS to show element borders*/
	.tb1{
		border-style: solid;
	}
	.tb2{
		border-style: solid;

	}
